﻿<%@ page title="" language="C#" masterpagefile="~/Plantillas/sisPaicmaReport.master" autoeventwireup="true" CodeFile="frmDefaultReport.aspx.cs"   inherits="_web_frmDefaultReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="contenido" Runat="Server">
</asp:Content>
