﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Plantillas/sisPaicmaReport.master" AutoEventWireup="true" CodeFile="GenericReport.aspx.cs" Inherits="_web_PruebaReporteDEV141" %>

<%@ Register Assembly="DevExpress.XtraReports.v14.2.Web" Namespace="DevExpress.XtraReports.Web" TagPrefix="dx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="contenido" Runat="Server">
     <div class="Botones">
       <input type="image" name="contenido_atras" id="contenido_atras" title="Atras" src="../Images/volver.png" onclick="window.history.back();" />
    </div>
    <dx:ASPxDocumentViewer ID="ASPxDocumentViewer1" runat="server" OnLoad="ASPxDocumentViewer1_Load"></dx:ASPxDocumentViewer>
    
    <asp:Label ID="lblError" runat="server" Text="" Visible="false"></asp:Label>
</asp:Content>


