#main { width:1000px; margin:0 auto; text-align:left; background-color:#fff;}

#banner {  margin:0; text-align:center;

height:100px;
/*background-color:#5F6668;*/
/*background-color:#C61720;*/

  /*background: -moz-linear-gradient(top, #CCCCCC, #62C8F9);
    Chrome, Safari:  008ED2 */
   /* background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#62C8F9));
     MSIE 
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#CCCCCC', EndColorStr='#62C8F9', GradientType=0);*/
	
	
}

body {
	
	margin:0 0 0 0;}

.main-extra {
	/*background:url(../images/body-bg.jpg) left top repeat-x;
    
    background: #efefef;*/
    /* Mozilla: */
	
    background: -moz-linear-gradient(top, #cccccc, #ffffff);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#cccccc', EndColorStr='#ffffff', GradientType=0);

}

#header {
	height:16px;
	background-color:#5F6668;
	margin:0 0 0 0;
	
}

#footer {
	height:30px;
	text-align:center;
	background-color:#C61720;
	border-radius: 0 0 10px 10px;
	color:#efefef;
}

.col-1, .col-2, .col-3 {float:left; text-align:justify}
.container {width:100%; overflow:hidden;}
.container1 {width:96%; margin-top:10px;}

.row .col-1 {width:200px !important;}
.col-1 {width:632px;}
.col-2 {width:267px;}
